[submodule "libcross2d"]
	path = libcross2d
	url = https://github.com/Cpasjuste/libcross2d.git
[submodule "pscrap"]
	path = pscrap
	url = https://github.com/Cpasjuste/pscrap.git
[submodule "libsmb2"]
	path = libsmb2
	url = https://github.com/cy33hc/libsmb2.git
	branch = ps4-new
[submodule "openscreen"]
	path = openscreen
	url = https://chromium.googlesource.com/openscreen.git
[submodule "ps4-openssl"]
	path = ps4-openssl
	url = https://github.com/cy33hc/ps4-openssl
	branch = OpenSSL_1_1_1-ps4
